{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block monTitre %}Dashboard{% endblock %}
{% block body %}
{% include "header2.html.twig" %} 
<div class="container">
    <h2 class="text-center text-info">Pour consulter les dernières informations, allez directement au Dashboard</h2>
</div>




{% endblock %}
