{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block monTitre %}Dashboard{% endblock %}
{% block body %}
{% include "header3.html.twig" %} 
<!-- <div class="jumbotron bg-dark">
    <h1 class="text-center text-info">Dashboard</h1>
</div> -->




{% endblock %}
