{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block monTitre %}S'inscrire{% endblock %}
{% block body %}
{% include "header2.html.twig" %} 


<div class="container-fluid"> 
    <div id="registreForm" class="mt-4 text-info">
        {{form_start(form)}}
        <div class="row">
            <div class="col-6 p-6 m-auto">
                {{form_widget(form)}}
                 <button class="btn btn-lg btn-primary btn-block" type="submit">Valider</button>
            </div>
        </div> 
        {{form_end(form)}}
    </div>        
</div>
     
{% endblock %}
