/* GENERAL */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navigation{
    margin: auto;
}

body{
    font-family: 'Lato', sans-serif;
    position: relative;
    background-color: rgb(206, 209, 211); 
}

h1{
    font-weight: bold;
    font-family: 'Bungee', cursive;
    letter-spacing: 3px;
}
h2, h3, h4, h5, h6{
    font-family: 'Play', sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
 ul, ol{
    list-style: none;
}

/* Overlay avec hover sur une image en HTML/CSS */

/* Conteneur principal */
.overlay-image {
    position: relative;
    width: 10%;
   }
   /* Image originale */
   .overlay-image .image {
    display: block;
    width: 100%;
    height: auto;
    cursor: none;
   }
   /* Texte original */
   .overlay-image .overimage {
    width: 100%;
    cursor: pointer;
   }



/* custom table Player */

/* .custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    } */

/* Taille image player */

.perso_imgPlayer{
    width: 100px;
    height: 70px;
    object-fit: cover;
  }

  /* Classe principale de la barre de navigation */
.navbar-default {
    /* Couleur de fond de la barre de navigation */
    background-color: rgb(24, 42, 80);
    border-color: rgb(24, 42, 80);
   }
/* Couleur des titres affichés dans la barre */
.navbar-default .navbar-brand {
    color: #fff;
    font-family: 'Play', sans-serif
   }   

.nav-item::after{
    font-family: 'Play', sans-serif;
    content:'';
    display:block;
    width:0px;
    height:4px;
    background:#0084ff;
    transition: 0.2s;
    margin-top:-10px;
}

.nav-item:hover::after{
    font-family: 'Play', sans-serif;
    width:100%;
}

.dropdown-item{
    font-family: 'Play', sans-serif;
}

.nav-link{
    font-family: 'Play', sans-serif;
    padding:15px 5px;
    transition:0.2s;
}

.navbar-nav .nav-link {
    font-family: 'Play', sans-serif;
    color:#fff;
    font-weight:bold;
    font-size:18px;
}

/* Css accueil.html.twig */

section {
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #f1f4fa;
}
a:link {
text-decoration:none;
}

.buttonMenu {
    color:	#fff;
    padding: 12px 36px;
    font-weight: 600;
    border: none;
    position: relative;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    margin: 2px;
    margin-top: 2px;
    background-image: linear-gradient(to right, #2b0b3d 0%, rgb(24, 42, 80) 51%,#7097df 100%);
    /* background-image: linear-gradient(to right, #7097df 0%, #203b8b 51%, 100%); */
    
    background-size: 200% auto;
    flex: 1 1 auto;
    text-decoration: none;
    
    }
    
    
    .buttonMenu:hover,
    .buttonMenu:focus {
    color:	#ffffff;
    background-position: right center;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    }
    
    

/* .button {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
} */

/* .button:hover {
    background: linear-gradient(135deg,#6394ff 0%,#1b294b 100%);
    color: white;
} */

/* .ico-button {
    margin: auto;
} */

.far {
    font-size: 1.5rem !important;
    color: #e48b06;
    margin: 1rem;
    padding-right: 1rem;
}
.fas {
    font-size: 1.5rem !important;
    color: #e48b06;
    margin: 1rem;
    padding-right: 1rem;
}
/* .vcenter {
    margin: auto;
} */

/* .mbr-section-title3 {
    text-align: left;
} */
h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}



 p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}


/* Css Custom login */
body {
    margin: 0;
    padding: 0;
    /* background-color: #17a2b8; */
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

/* Css custom Error */

/* .error-container {
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: montserrat, sans-serif;
    
} */



.button {
color:	#fff;
padding: 12px 36px;
font-weight: 600;
border: none;
position: relative;
font-family: 'Raleway', sans-serif;
display: inline-block;
text-transform: uppercase;
-webkit-border-radius: 90px;
-moz-border-radius: 90px;
border-radius: 90px;
margin: 2px;
margin-top: 2px;
background-image: linear-gradient(to right, #09b3ef 0%, #1e50e2 51%,#09b3ef 100%);
background-size: 200% auto;
flex: 1 1 auto;
text-decoration: none;

}


.button:hover,
.button:focus {
color:	#ffffff;
background-position: right center;
-webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
text-decoration: none;
}


