/* GENERAL */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navigation{
    margin: auto;
}

body{
    font-family: 'Lato', sans-serif;
    position: relative;
    background-color: rgb(206, 209, 211); 
}

h1{
    font-weight: bold;
    font-family: 'Bungee', cursive;
    letter-spacing: 3px;
}
h2, h3, h4, h5, h6{
    font-family: 'Play', sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
 ul, ol{
    list-style: none;
} 

.perso_imgPlayer{
    width: 100px;
    height: 70px;
    object-fit: cover;
  }

  /* Classe principale de la barre de navigation */
.navbar-default {
    /* Couleur de fond de la barre de navigation */
    background-color: rgb(24, 42, 80);
    border-color: rgb(24, 42, 80);
   }
/* Couleur des titres affichés dans la barre */
.navbar-default .navbar-brand {
    color: #fff;
    font-family: 'Play', sans-serif
   }   

.nav-item::after{
    font-family: 'Play', sans-serif;
    content:'';
    display:block;
    width:0px;
    height:4px;
    background:#0084ff;
    transition: 0.2s;
    margin-top:-10px;
}

.nav-item:hover::after{
    font-family: 'Play', sans-serif;
    width:100%;
}

.dropdown-item{
    font-family: 'Play', sans-serif;
}

.nav-link{
    font-family: 'Play', sans-serif;
    padding:15px 5px;
    transition:0.2s;
}

.navbar-nav .nav-link {
    font-family: 'Play', sans-serif;
    color:#fff;
    font-weight:bold;
    font-size:18px;
}

/* Css accueil.html.twig */

section {
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #f1f4fa;
}
a:link {
text-decoration:none;
}

.button {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.button:hover {
    background: linear-gradient(135deg,#6394ff 0%,#1b294b 100%);
    color: white;
}

.ico-button {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #142438;
    margin: 1rem;
    padding-right: 1rem;
}
.vcenter {
    margin: auto;
}

.mbr-section-title3 {
    text-align: left;
}
h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.display-5 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1.4rem;
}
.mbr-bold {
    font-weight: 700;
}

 p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}
.display-6 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1re}






