/* GENERAL */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.important{
    font-size: 1.4em;
    text-decoration: underline;
    font-weight: bold;
}
/* test header2 V3 :################################################### */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}

#wrapper {
    padding-left: 0;    
}

#page-wrapper {
    width: 100%;        
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #1a242f;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 60px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #222;
        /*background-color: #5A6B7D;*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #1a242f !important;
    }
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;*/
    color: #fff;    
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}

div.content {
  margin-left: 230px;
  padding: 1px 16px;
  height: 1000px;
}


/* end test V3 ###############################################################*/

/* test header2 V2 : */
/* .sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: rgb(24, 42, 80);
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: rgb(24, 42, 80);
  color: white;
}

div.content {
  margin-left: 220px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} */
/* end test header2 V2 */


.navigation{
    margin: auto;
}

body{
    font-family: 'Lato', sans-serif;
    position: relative;
    background-color: rgb(206, 209, 211); 
}

h1{
    margin-left: 220px;
    font-weight: bold;
    font-family: 'Bungee', cursive;
    letter-spacing: 3px;
}
h2, h3, h4, h5, h6{
    font-family: 'Play', sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
 ul, ol{
    list-style: none;
}

.perso_imgPlayer{
    width: 90px;
    height: 60px;
    max-width: 90px;
    max-height: 60px;
    object-fit: cover;
  }

/* Conteneur principal */
.overlay-image {
    position: relative;
    width: 10%;
   }
   /* Image originale */
   .overlay-image .image {
    display: block;
    width: 100%;
    height: auto;
    cursor: none;
   }
   /* Texte original */
   .overlay-image .overimage {
    width: 100%;
    cursor: pointer;
   }

/* Custom login form */

#login .container #login-row #login-column .login-box {
  margin-top: 40px;
  width: 600px; 
  height: 320px;
  border: 1px solid #9C9C9C;
  background-image: linear-gradient(to bottom, #aec1c3, #a9b5b7, #bcc5c6, #cfd5d5, #e3e5e5);
}
#login .container #login-row #login-column .login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column .login-box #login-form #register-link {
  margin-top: -85px;
}

/* End Custom login form */


/* custom table Player */

/* .custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    } */

/* Taille image player */


/* header :old version Classe principale de la barre de navigation */
/* .navbar-default {
 
    background-color: rgb(24, 42, 80);
    border-color: rgb(24, 42, 80);
   } */
/* Couleur des titres affichés dans la barre */
/* .navbar-default .navbar-brand {
    color: #fff;
    font-family: 'Play', sans-serif
   }    */

/* .nav-item::after{
    font-family: 'Play', sans-serif;
    content:'';
    display:block;
    width:0px;
    height:4px;
    background:#0084ff;
    transition: 0.2s;
    margin-top:-10px;
} */

/* .nav-item:hover::after{
    font-family: 'Play', sans-serif;
    width:100%;
} */
/* 
.dropdown-item{
    font-family: 'Play', sans-serif;
}

.nav-link{
    font-family: 'Play', sans-serif;
    padding:15px 5px;
    transition:0.2s;
}

.navbar-nav .nav-link {
    font-family: 'Play', sans-serif;
    color:#fff;
    font-weight:bold;
    font-size:18px;
} */

/* Css accueil.html.twig */

section {
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #f1f4fa;
}
a:link {
text-decoration:none;
}

.buttonMenu {
    color:	#fff;
    padding: 12px 36px;
    font-weight: 600;
    border: none;
    position: relative;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    margin: 2px;
    margin-top: 2px;
    background-image: linear-gradient(to right, #2b0b3d 0%, rgb(24, 42, 80) 51%,#7097df 100%);
    /* background-image: linear-gradient(to right, #7097df 0%, #203b8b 51%, 100%); */
    
    background-size: 200% auto;
    flex: 1 1 auto;
    text-decoration: none;
    
    }
    
    
    .buttonMenu:hover,
    .buttonMenu:focus {
    color:	#ffffff;
    background-position: right center;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    }
    
    

/* .button {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
} */

/* .button:hover {
    background: linear-gradient(135deg,#6394ff 0%,#1b294b 100%);
    color: white;
} */

/* .ico-button {
    margin: auto;
} */

.far {
    font-size: 1.5rem !important;
    color: #e48b06;
    margin: 1rem;
    padding-right: 1rem;
}
.fas {
    font-size: 1.5rem !important;
    color: #e48b06;
    margin: 1rem;
    padding-right: 1rem;
}
/* .vcenter {
    margin: auto;
} */

/* .mbr-section-title3 {
    text-align: left;
} */
h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}



 p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}


/* Css Custom login */
body {
    margin: 0;
    padding: 0;
    /* background-color: #17a2b8; */
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

/* Css custom Error */

/* .error-container {
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: montserrat, sans-serif;
    
} */



.button {
color:	#fff;
padding: 12px 36px;
font-weight: 600;
border: none;
position: relative;
font-family: 'Raleway', sans-serif;
display: inline-block;
text-transform: uppercase;
-webkit-border-radius: 90px;
-moz-border-radius: 90px;
border-radius: 90px;
margin: 2px;
margin-top: 2px;
background-image: linear-gradient(to right, #09b3ef 0%, #1e50e2 51%,#09b3ef 100%);
background-size: 200% auto;
flex: 1 1 auto;
text-decoration: none;

}


.button:hover,
.button:focus {
color:	#ffffff;
background-position: right center;
-webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
text-decoration: none;
}


