{% extends 'base.html.twig' %}

{% block title %}Modification d'un évènement{% endblock %}
{% block monTitre %}{{ event.name }}{% endblock %}

{% block body %}
{% include "header3.html.twig" %}


<div class="d-flex" id="wrapper">
    <div id="page-content-wrapper">
        <div class="container-fluid"> 
            {{form_start(formEvent)}}
                <div class="row">
                    <div class="col-6 p-4 m-auto">
                        {{form_widget(formEvent)}}
                        <a href="#" class="btn btn-primary">Retour</a>
                        <input type="submit" value="Valider" class="btn btn-success">
                    </div>
                </div>
            {{form_end(formEvent)}}
        </div>    
    </div>
</div>    
       
{% endblock %}
