{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% block monTitre %}Contact{% endblock %}
{% block body %}


{% for message in app.flashes('message') %}
<div class="alert alert-success"  role="alert">
    {{message}}
</div>
{% endfor %}

<div class="content">

        {{ form(contactForm) }}
</div>    


{% endblock %}
