{% extends 'base.html.twig' %} 
  
{% block body %}
    <div class="jumbotron">
        <div class="container error-container text-center m-4">
            <h1 class="big-text">Oops!</h1>
            <h2 class="small-text">PAGE NOT FOUND</h2>
            <hr class="my-4">
            <div>
                <button type="button" class="btn btn-primary btn-lg" href="{{ path('accueil') }}">GO TO HOME PAGE</button>
            </div>
        </div>
    </div>      
{% endblock %}